In [2]:
#Import Libraries
import pandas as pd
import numpy as np
import os

#dataframes
path = r'..\02 Data\Original Data'

#import departments dataframe
df_dep = pd.read_csv(os.path.join(path, 'departments.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, 'products.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path,'orders.csv'), index_col = False)

In [40]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [3]:
#head function
df_dep.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [4]:
df_dep.T

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
department_id,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,bulk,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [5]:
df_dep_t = df_dep.T

In [6]:
df_dep_t

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
department_id,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,bulk,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [7]:
df_dep_t.reset_index()

,index,0,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
1,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [8]:
new_header = df_dep_t.iloc[0]

In [9]:
print(new_header)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
Name: department_id, dtype: object

In [10]:
df_dep_t_new = df_dep_t[1:]

In [11]:
df_dep_t_new

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,bulk,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [12]:
df_dep_t_new.columns = new_header

In [13]:
df_dep_t_new

department_id,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,bulk,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [14]:
data_dict = df_dep_t_new.to_dict('index')

In [15]:
data_dict

{'department': {1: 'frozen',
  2: 'other',
  3: 'bakery',
  4: 'produce',
  5: 'alcohol',
  6: 'international',
  7: 'beverages',
  8: 'pets',
  9: 'dry goods pasta',
  10: 'bulk',
  11: 'personal care',
  12: 'meat seafood',
  13: 'pantry',
  14: 'breakfast',
  15: 'canned goods',
  16: 'dairy eggs',
  17: 'household',
  18: 'babies',
  19: 'snacks',
  20: 'deli',
  21: 'missing'}}

In [16]:
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [17]:
df_prods.head

<bound method NDFrame.head of        product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices
0            61             19     5.8
1           104             13     9.3
2            94              7     4.5
3            38              1    10.5
4             5             13     4.3
...         ...            ...     ...
49688       124              5     5.3
49689        42              1     3.1
49690       112              3     7.8
49691        41              8     4.7
49692        73             11    13.5

[49693 rows x 5 columns]>

In [18]:
print(data_dict.get('19'))

None

In [19]:
df_snacks = df_prods[df_prods['department_id']==19]

In [20]:
df_snacks

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [21]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [22]:
df_snacks_2 = df_prods.loc[df_prods['department_id']==19]

In [23]:
df_snacks_2

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [24]:
df_ords.to_csv(os.path.join(path, 'orders_wrangled.csv'))

Exercise 4.4 Answers

2

In [25]:
df_ords['eval_set'] = df_ords['eval_set'].astype('str')

3

In [26]:
df_ords.rename(columns = {'order_dow' : 'day_of_week'}, inplace = True)

In [27]:
4

4

In [28]:
df_ords['order_hour_of_day'].value_counts(dropna = False)

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

10am is the busiest hour of the day

5

In [29]:
data_dict

{'department': {1: 'frozen',
  2: 'other',
  3: 'bakery',
  4: 'produce',
  5: 'alcohol',
  6: 'international',
  7: 'beverages',
  8: 'pets',
  9: 'dry goods pasta',
  10: 'bulk',
  11: 'personal care',
  12: 'meat seafood',
  13: 'pantry',
  14: 'breakfast',
  15: 'canned goods',
  16: 'dairy eggs',
  17: 'household',
  18: 'babies',
  19: 'snacks',
  20: 'deli',
  21: 'missing'}}

A value of 4 means produce.

6

In [30]:
df_breakfast = df_prods[df_prods['department_id']==14]

7

In [31]:
df_dinnerp = df_prods.loc[df_prods['department_id'].isin([5,20,7,12])]

In [32]:
df_dinnerp

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
...,...,...,...,...,...
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

8

7650

In [33]:
df_ords_usr1 = df_ords.loc[df_ords['user_id'] == 1]

In [34]:
df_ords_usr1

,order_id,user_id,eval_set,order_number,day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0

In [35]:
df_ords_usr1.describe()

,order_id,user_id,order_number,day_of_week,order_hour_of_day,days_since_prior_order
count,1.100000e+01,11.0,11.000000,11.000000,11.000000,10.000000
mean,1.923450e+06,1.0,6.000000,2.636364,10.090909,19.000000
std,1.071950e+06,0.0,3.316625,1.286291,3.477198,9.030811
min,4.315340e+05,1.0,1.000000,1.000000,7.000000,0.000000
25%,8.690170e+05,1.0,3.500000,1.500000,7.500000,14.250000
50%,2.295261e+06,1.0,6.000000,3.000000,8.000000,19.500000
75%,2.544846e+06,1.0,8.500000,4.000000,13.000000,26.250000
max,3.367565e+06,1.0,11.000000,4.000000,16.000000,30.000000

In [36]:
df_ords_usr1.value_counts()

order_id  user_id  eval_set  order_number  day_of_week  order_hour_of_day  days_since_prior_order
431534    1        prior     5             4            15                 28.0                      1
473747    1        prior     3             3            12                 21.0                      1
550135    1        prior     7             1            9                  20.0                      1
1187899   1        train     11            4            8                  14.0                      1
2254736   1        prior     4             4            7                  29.0                      1
2295261   1        prior     9             1            16                 0.0                       1
2398795   1        prior     2             3            7                  15.0                      1
2550362   1        prior     10            4            8                  30.0                      1
3108588   1        prior     8             1            14                 14.0                      1
3367565   1        prior     6             2            7                  19.0                      1
dtype: int64

In [37]:
df_ords_usr1.nunique()

order_id                  11
user_id                    1
eval_set                   2
order_number              11
day_of_week                4
order_hour_of_day          7
days_since_prior_order     9
dtype: int64

In [38]:
df_dep_t_new

department_id,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,bulk,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [39]:
df_dep_t_new.to_csv(os.path.join(path, 'departments_wrangled.csv'))