In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

#import files
path = r'..\02 Data\Original Data'
path2 = r'..\02 Data\Prepared Data'

#import departments dataframe
df_ords_prior = pd.read_csv(os.path.join(path, 'order_products_prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path2,'orders_clean.csv'), index_col = False)

In [3]:
# Define a dictionary containing January 2020 data
data1 = {'customer_id':['6732', '767', '890', '635'],
        'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
        'purchased_meat':[0, 13, 3, 4],
        'purchased_alcohol':[1, 2, 10, 0],
        'purchased_snacks':[10, 5, 1, 7]}

# Define a dictionary containing February 2020 data
data2 = {'customer_id':['6732', '767', '890', '635'],
         'month':['Feb-20', 'Feb-20', 'Feb-20', 'Feb-20'],
         'purchased_meat':[0, 10, 5, 3],
         'purchased_alcohol':[2, 4, 14, 0],
         'purchased_snacks':[15, 3, 2, 6]}

#convert the dictionary into dataframe
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
df_1 = pd.DataFrame(data2,index=[0,1,2,3])

df

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Jan-20               0                  1                10
1         767  Jan-20              13                  2                 5
2         890  Jan-20               3                 10                 1
3         635  Jan-20               4                  0                 7

In [4]:
df_1

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Feb-20               0                  2                15
1         767  Feb-20              10                  4                 3
2         890  Feb-20               5                 14                 2
3         635  Feb-20               3                  0                 6

In [5]:
frames = [df, df_1]
df_concat = pd.concat(frames)

df_concat

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Jan-20               0                  1                10
1         767  Jan-20              13                  2                 5
2         890  Jan-20               3                 10                 1
3         635  Jan-20               4                  0                 7
0        6732  Feb-20               0                  2                15
1         767  Feb-20              10                  4                 3
2         890  Feb-20               5                 14                 2
3         635  Feb-20               3                  0                 6

In [6]:
df_appended = df.append(df_1)
df_appended

C:\Users\heres\AppData\Local\Temp\ipykernel_13284\3929113207.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_appended = df.append(df_1)

  customer_id   month  purchased_meat  purchased_alcohol  purchased_snacks
0        6732  Jan-20               0                  1                10
1         767  Jan-20              13                  2                 5
2         890  Jan-20               3                 10                 1
3         635  Jan-20               4                  0                 7
0        6732  Feb-20               0                  2                15
1         767  Feb-20              10                  4                 3
2         890  Feb-20               5                 14                 2
3         635  Feb-20               3                  0                 6

In [7]:
# Create data with different columns from df
data3 = {'customer_id':['6732', '767', '890', '635'],
         'month':['Jan-20', 'Jan-20', 'Jan-20', 'Jan-20'],
         'days_purchased_on':[0, 13, 3, 4]}

# Convert to dataframe
df_2 = pd.DataFrame(data3,index=[0, 1, 2, 3])

In [8]:
df_2

  customer_id   month  days_purchased_on
0        6732  Jan-20                  0
1         767  Jan-20                 13
2         890  Jan-20                  3
3         635  Jan-20                  4

In [9]:
df_append_test = df.append(df_2)

C:\Users\heres\AppData\Local\Temp\ipykernel_13284\212113226.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append_test = df.append(df_2)

In [10]:
df_merged = df.merge(df_2, on = ['customer_id', 'month'])
df_merged

,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks,days_purchased_on
0,6732,Jan-20,0,1,10,0
1,767,Jan-20,13,2,5,13
2,890,Jan-20,3,10,1,3
3,635,Jan-20,4,0,7,4

In [11]:
df_merged = df.merge(df_2, on=['customer_id','month'], indicator=True)
df_merged

,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks,days_purchased_on,_merge
0,6732,Jan-20,0,1,10,0,both
1,767,Jan-20,13,2,5,13,both
2,890,Jan-20,3,10,1,3,both
3,635,Jan-20,4,0,7,4,both

In [12]:
df_merged['_merge'].value_counts()

both          4
left_only     0
right_only    0
Name: _merge, dtype: int64

In [13]:
#Test merge without overwriting
pd.merge(df,df_2, on = ['customer_id', 'month'], indicator=True)

,customer_id,month,purchased_meat,purchased_alcohol,purchased_snacks,days_purchased_on,_merge
0,6732,Jan-20,0,1,10,0,both
1,767,Jan-20,13,2,5,13,both
2,890,Jan-20,3,10,1,3,both
3,635,Jan-20,4,0,7,4,both

In [14]:
df_ords_prior.shape

(32434489, 4)

In [15]:
df_ords

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,0.0
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0
...,...,...,...,...,...,...,...,...,...
3421078,3421078,3421078,2266710,206209,prior,10,5,18,29.0
3421079,3421079,3421079,1854736,206209,prior,11,4,10,30.0
3421080,3421080,3421080,626363,206209,prior,12,1,12,18.0
3421081,3421081,3421081,2977660,206209,prior,13,1,12,7.0
3421082,3421082,3421082,272231,206209,train,14,6,14,30.0

In [16]:
df_ords_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
...            ...         ...                ...        ...
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [17]:
pd.merge(df_ords, df_ords_prior, on = ['order_id'], indicator = True)

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,3421081,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,3421081,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,3421081,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,3421081,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [18]:
df_ords_merged = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
df_ords_merged

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,3421081,3421081,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,3421081,3421081,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,3421081,3421081,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,3421081,3421081,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,3421081,3421081,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [20]:
df_ords_merged.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [21]:
df_ords_merged['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
# Export data to pkl

df_ords_merged.to_pickle(os.path.join(path2, 'orders_products_combined.pkl'))

In [24]:
df_ords_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0.1            int64
 1   Unnamed: 0              int64
 2   order_id                int64
 3   user_id                 int64
 4   eval_set                object
 5   order_number            int64
 6   order_dow               int64
 7   order_hour_of_day       int64
 8   days_since_prior_order  float64
 9   product_id              int64
 10  add_to_cart_order       int64
 11  reordered               int64
 12  _merge                  category
dtypes: category(1), float64(1), int64(10), object(1)
memory usage: 3.2+ GB

In [25]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0.1            int64
 1   Unnamed: 0              int64
 2   order_id                int64
 3   user_id                 int64
 4   eval_set                object
 5   order_number            int64
 6   order_dow               int64
 7   order_hour_of_day       int64
 8   days_since_prior_order  float64
dtypes: float64(1), int64(7), object(1)
memory usage: 234.9+ MB