In [5]:
#import libraries
import pandas as pd
import numpy as np
import os

#import files
path = r'..\02 Data\Original Data'
path2 = r'..\02 Data\Prepared Data'

#import departments dataframe
df_ords_merged = pd.read_pickle(os.path.join(path2, 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path2, 'products_clean.csv'))

In [4]:
df_ords_merged.shape

(32434489, 13)

In [6]:
df_ords_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0.1            int64
 1   Unnamed: 0              int64
 2   order_id                int64
 3   user_id                 int64
 4   eval_set                object
 5   order_number            int64
 6   order_dow               int64
 7   order_hour_of_day       int64
 8   days_since_prior_order  float64
 9   product_id              int64
 10  add_to_cart_order       int64
 11  reordered               int64
 12  _merge                  category
dtypes: category(1), float64(1), int64(10), object(1)
memory usage: 3.2+ GB

In [7]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [10]:
df_ords_merged1 = df_ords_merged.drop(['_merge'], axis=1)

In [11]:
df_ords_prods_merged = df_ords_merged1.merge(df_prods, on='product_id', indicator=True)

In [12]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
df_ords_prods_merged

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,3360493,3360493,1320836,202557,prior,17,2,15,1.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,both
32404855,3360494,3360494,31526,202557,prior,18,5,11,3.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,both
32404856,3376038,3376038,758936,203436,prior,1,2,7,0.0,42338,4,0,42342,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,3376039,3376039,2745165,203436,prior,2,3,5,15.0,42338,16,1,42342,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3408036,3408036,3093936,205420,prior,1,4,14,0.0,28818,8,0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [14]:
# Export data to pkl

df_ords_prods_merged.to_pickle(os.path.join(path2, 'orders_products_merged.pkl'))