In [21]:
#import libraries
import pandas as pd
import numpy as np
import os

#import files
path = r'..\02 Data\Original Data'
path2 = r'..\02 Data\Prepared Data'

#import dataframe
df_ords_merged = pd.read_pickle(os.path.join(path2,'orders_products_merged.pkl'))
df = df_ords_merged[:1000000]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 18 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0.1            1000000 non-null  int64
 1   Unnamed: 0_x            1000000 non-null  int64
 2   order_id                1000000 non-null  int64
 3   user_id                 1000000 non-null  int64
 4   eval_set                1000000 non-null  object
 5   order_number            1000000 non-null  int64
 6   order_dow               1000000 non-null  int64
 7   order_hour_of_day       1000000 non-null  int64
 8   days_since_prior_order  1000000 non-null  float64
 9   product_id              1000000 non-null  int64
 10  add_to_cart_order       1000000 non-null  int64
 11  reordered               1000000 non-null  int64
 12  Unnamed: 0_y            1000000 non-null  int64
 13  product_name            1000000 non-null  object
 14  aisle_id                1000000 non-null  int64
 15  department_id           1000000 non-null  int64
 16  prices                  1000000 non-null  float64
 17  _merge                  1000000 non-null  category
dtypes: category(1), float64(2), int64(13), object(2)
memory usage: 138.3+ MB

In [23]:
df.shape

(1000000, 18)

In [24]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [25]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [26]:
df.groupby('department_id').agg({'order_number':['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [27]:
df_ords_merged['max_order'] = df_ords_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [28]:
df_ords_merged.head(100)

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,max_order
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,195,Soda,77,7,9.0,both,10
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,10
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,10
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,10
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5895,5895,3226575,360,prior,1,5,12,0.0,196,1,0,195,Soda,77,7,9.0,both,3
96,6137,6137,1469869,377,prior,3,5,17,3.0,196,9,0,195,Soda,77,7,9.0,both,3
97,6259,6259,1927023,387,prior,2,4,10,22.0,196,3,0,195,Soda,77,7,9.0,both,8
98,6740,6740,858092,420,prior,4,1,19,30.0,196,2,0,195,Soda,77,7,9.0,both,22
99,6741,6741,119314,420,prior,5,3,19,16.0,196,2,1,195,Soda,77,7,9.0,both,22

In [33]:
df_ords_merged = df_ords_merged.drop(['Unnamed: 0.1','Unnamed: 0_x','Unnamed: 0_y'], axis=1)

In [34]:
df_ords_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,10

In [35]:
df_ords_merged.loc[df_ords_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_merged.loc[(df_ords_merged['max_order'] <= 40) & (df_ords_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_merged.loc[df_ords_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'
df_ords_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [36]:
#Export data to pkl
df_ords_merged.to_pickle(os.path.join(path2, 'orders_products_combined.pkl'))